---

---

<header class="flex items-baseline gap-8 p-6">
  <a href="/"><h1 class="text-center text-lg font-bold uppercase">Cosmos</h1></a
  >
  <ul class="contents">
    <li>
      <a
        href="/chronicles"
        class="border border-transparent px-2 py-1 transition hover:border-black"
        >Chronicles</a
      >
    </li>
    <li>
      <a
        href="/characters"
        class="border border-transparent px-2 py-1 transition hover:border-black"
        >Characters</a>
    </li>
  </ul>
</header>
