---
interface Props {
  title: string;
  subtitle?: string;
  href?: string;
  actionText?: string;
}

const { title, subtitle, href, actionText } = Astro.props;
---

<li
  class="flex items-center justify-between border-b border-black/20 p-4 pb-10 pt-12 transition first:pt-10 last:border-b-0 has-[a:hover]:bg-white/50"
>
  <div>
    <p class="text-2xl">{title}</p>
    {subtitle && <p class="text-black/20">{subtitle}</p>}
  </div>

  {
    href && (
      <a
        href={href}
        class="border border-black/20 bg-white/50 px-4 py-2 leading-none"
      >
        {actionText ?? "View"}&nbsp;&rightarrow;
      </a>
    )
  }
</li>
