@font-face {
  font-family: "SpaceGrotesk";
  src:
    url("./cosmos-aria/fonts/SpaceGrotesk-Variable.woff2") format("woff2"),
    url("./cosmos-aria/fonts/SpaceGrotesk-Variable.woff") format("woff"),
    url("./cosmos-aria/fonts/SpaceGrotesk-Variable.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}
